Repository gregorias/findata-transcoder: changes, and which lefthook commands are due for each by the changed paths.
All: hlint, fourmolu, markdownlint, prettier

lefthook.yml:

pre-commit:
  commands:
    hlint:
      tags: lint
      glob: "*.hs"
      run: stack exec hlint {staged_files} -- -X QuasiQuotes
    fourmolu:
      tags: style
      glob: "*.hs"
      run: >-
        fourmolu -o "-XTypeApplications"
        -o "-XImportQualifiedPost"
        -i {staged_files}
        && git add {staged_files}
    markdownlint:
      tags: documentation style
      glob: "*.md"
      run: markdownlint {staged_files}
    prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    unit-tests:
      tags: test
      run: "stack test --ghc-options '-Werror'"
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"

chore: format code
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
  src/Transcoder/CharlesSchwab/Ledger.hs
Due: hlint, fourmolu

refactor(cs): update brokerage record naming
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
  src/Transcoder/CharlesSchwab/Ledger.hs
  test/Test/Transcoder/CharlesSchwab/Ledger.hs
Due: hlint, fourmolu

refactor(cs): rename csv parsing
  src/Transcoder/CharlesSchwab.hs
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
Due: hlint, fourmolu

refactor(cs): use List
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
  src/Transcoder/CharlesSchwab/Ledger.hs
Due: hlint, fourmolu

refactor(cs): delete unused line parser
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
Due: hlint, fourmolu

refactor(cs): simplify csv parser further
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
Due: hlint, fourmolu

chore: use simple quotes
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
Due: hlint, fourmolu

feat(cs-brokerage): use decimal quantities
  findata-transcoder.cabal
  src/Transcoder/CharlesSchwab/Brokerage/Csv.hs
  src/Transcoder/CharlesSchwab/Ledger.hs
  test/Spec.hs
  test/Test/Transcoder/CharlesSchwab/Brokerage/Csv.hs
Due: hlint, fourmolu

refactor(cs): move brokerage history ledger to its module
  findata-transcoder.cabal
  src/Transcoder/CharlesSchwab.hs
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  test/Spec.hs
  test/Test/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

refactor(cs): clean up
  src/Transcoder/CharlesSchwab.hs
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  test/Test/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

refactor(cs): clean up
  test/Test/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

refactor(maybe): add ToMaybeX
  findata-transcoder.cabal
  src/Data/Maybe/Extra.hs
  src/Hledger/Data/Extra.hs
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  src/Transcoder/Galaxus.hs
  src/Transcoder/GooglePlay.hs
Due: hlint, fourmolu

refactor(cs): use cleaner makePosting
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

refactor(cs): use cleaner makeTransaction
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

feat(cs): update GOOG Sell transcoder
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  test/Test/Transcoder/CharlesSchwab.hs
  test/Test/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

docs: update README
  README.md
Due: markdownlint

feat(cs): update stock plan activity parsing
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  test/Test/Transcoder/CharlesSchwab.hs
  test/Test/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

chore: use Todo
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  test/Test/Transcoder/CharlesSchwab.hs
Due: hlint, fourmolu

chore: use doctest-parallel
  doctest/DocTest.hs
  findata-transcoder.cabal
  package.yaml
  src/Data/Cash.hs
  src/Data/Decimal/Extra.hs
Due: hlint, fourmolu, prettier

chore: delete cabal.project files
  cabal.project
  cabal.project.freeze
Due: none

chore: migrate to Cabal
  .gitignore
  DEV.md
  cabal.project
  findata-transcoder.cabal
  lefthook.yml
  package.yaml
  stack.yaml
  stack.yaml.lock
Due: markdownlint, prettier

chore: release
  dev/bin/release-new-version
  findata-transcoder.cabal
  package.yaml
Due: prettier

chore: release
  dev/bin/release-new-version
Due: none

chore(lefthook): use stage files
  lefthook.yml
Due: prettier

feat(decimal): add decimalPrecision
  src/Data/Decimal/Extra.hs
  test/Test/Data/Decimal/Extra.hs
Due: hlint, fourmolu

refactor(decimal): clean up tests
  test/Test/Data/Decimal/Extra.hs
Due: hlint, fourmolu

feat: take into account commodity precision
  src/Hledger/Data/Extra.hs
  test/Test/Hledger/Data/Extra.hs
Due: hlint, fourmolu

feat(cs): support fractional Goog shares
  test/Test/HUnit/Extra.hs
  test/Test/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
Due: hlint, fourmolu

feat(cs): add new style brokerage statement
  test/Test/Transcoder/CharlesSchwab.hs
  test/data/cs-brokerage-account-history-2024-08.csv
  test/data/cs-brokerage-account-history.csv
Due: hlint, fourmolu

chore: release
  findata-transcoder.cabal
  package.yaml
Due: prettier

fix: fix new version release order
  dev/bin/release-new-version
Due: none

chore: fix release
  dev/bin/release-new-version
Due: none

chore: update copyright
  findata-transcoder.cabal
  lefthook.yml
  package.yaml
Due: prettier

chore: update base constraints
  findata-transcoder.cabal
  package.yaml
Due: prettier

refactor(coop): reshuffle Coop a bit
  src/Transcoder/Coop/Receipt.hs
  test/Test/Transcoder/Coop/Receipt.hs
Due: hlint, fourmolu

refactor(coop): reshuffle Coop.Config a bit
  src/Transcoder/Coop/Config.hs
Due: hlint, fourmolu

refactor(coop): reshuffle Coop.Config a bit
  test/Test/Transcoder/Coop/Config.hs
Due: hlint, fourmolu
