Repository gregorias/findata-transcoder: changes, and which lefthook commands are due for each by the changed paths.
All: hpack, hlint, fourmolu, markdownlint, prettier

hpack:
  run: hpack
  stage_files: true

hlint:
  tags: lint
  run: cabal exec hlint {staged_files} -- -X QuasiQuotes

fourmolu:
  tags: style
  run: fourmolu -o "-XTypeApplications" -o "-XImportQualifiedPost" -i {staged_files}
  stage_files: true

markdownlint:
  tags: documentation style
  run: markdownlint {staged_files}

prettier:
  tags: style
  run: prettier -c {staged_files}

refactor(coop): reshuffle Coop.Config a bit
  src/Transcoder/Coop.hs
Due: hlint, fourmolu

refactor(coop): rename tests
  test/Test/Transcoder/Coop.hs
Due: hlint, fourmolu

chore: add Justfile
  Justfile
Due: none

feat: add products to postings
  src/Transcoder/Coop.hs
  test/Test/Transcoder/Coop.hs
  test/data/coop-cat.txt
  test/data/coop-rabatt.txt
Due: hlint, fourmolu

chore: release
  findata-transcoder.cabal
  package.yaml
Due: hpack, prettier

refactor(coop): refactor receiptP
  src/Transcoder/Coop/Receipt.hs
Due: hlint, fourmolu

feat(coop): treat rabatts as regular entries
  src/Transcoder/Coop.hs
  src/Transcoder/Coop/Receipt.hs
  test/Test/Transcoder/Coop.hs
Due: hlint, fourmolu

feat(coop): provide more readable entry line errors
  src/Transcoder/Coop/Receipt.hs
  test/Test/Transcoder/Coop/Receipt.hs
Due: hlint, fourmolu

refactor(coop): make receiptP more readable
  src/Transcoder/Coop/Receipt.hs
Due: hlint, fourmolu

feat(coop): add a test
  test/Test/Transcoder/Coop.hs
  test/data/coop-rabatt-outoforder.txt
Due: hlint, fourmolu

docs(coop): update ADR
  DEV.md
Due: markdownlint

feat(coop): add debtor comments
  src/Transcoder/Coop.hs
  test/Test/Transcoder/Coop.hs
Due: hlint, fourmolu

chore: release
  dev/bin/release-new-version
  findata-transcoder.cabal
  package.yaml
Due: hpack, prettier

chore: update release-new-version
  dev/bin/release-new-version
Due: none

chore: update release-new-version
  dev/bin/release-new-version
  findata-transcoder.cabal
  package.yaml
Due: hpack, prettier

chore: enabled overloaded record dot
  findata-transcoder.cabal
  package.yaml
Due: hpack, prettier

chore: prevent unused packages
  findata-transcoder.cabal
  package.yaml
Due: hpack, prettier

feat(coop): update health category
  src/Transcoder/Coop.hs
  src/Transcoder/Wallet.hs
  test/Test/Transcoder/Coop.hs
Due: hlint, fourmolu

chore: update Stackage to 22.34
  cabal.project
Due: none

feat(cs): add warning message if input is not JSON
  src/Transcoder/CharlesSchwab.hs
  test/Test/Transcoder/CharlesSchwab.hs
Due: hlint, fourmolu

refactor(cs): make Eac.Json nicer
  src/Transcoder/CharlesSchwab/Eac/Json.hs
Due: hlint, fourmolu

feat(CS EAC): add dividend parsing
  src/Transcoder/CharlesSchwab/Eac/Data.hs
  src/Transcoder/CharlesSchwab/Eac/Json.hs
  src/Transcoder/CharlesSchwab/Eac/Ledger.hs
  test/Test/Transcoder/CharlesSchwab.hs
  test/data/cs-eac-account-history-2024-03-to-2024-09.json
Due: hlint, fourmolu

feat: update coop barista
  src/Transcoder/Coop.hs
Due: hlint, fourmolu

chore: update copyright
  findata-transcoder.cabal
  package.yaml
Due: hpack, prettier

chore: update deps
  cabal.project
  findata-transcoder.cabal
  package.yaml
  src/Hledger/Data/Lens.hs
  src/Hledger/Extra.hs
  src/Transcoder/CharlesSchwab/Brokerage/Ledger.hs
  src/Transcoder/Degiro/AccountStatement.hs
  src/Transcoder/Ib.hs
  test/Hledger/Read/TestUtils.hs
  test/Test/Hledger/Read/TestUtils.hs
Due: hpack, hlint, fourmolu, prettier

docs: document dep update process
  DEV.md
Due: markdownlint

feat(revolut): produce more readable error msgs
  src/Data/Csv/Extra.hs
  src/Transcoder/Data/MyDecimal.hs
  src/Transcoder/Revolut.hs
  test/Test/Data/Csv/Extra.hs
  test/Test/Transcoder/Revolut.hs
Due: hlint, fourmolu

refactor(revolut): add CSV module
  findata-transcoder.cabal
  src/Data/Csv/Extra.hs
  src/Transcoder/Revolut.hs
  src/Transcoder/Revolut/Csv.hs
  test/Spec.hs
  test/Test/Transcoder/Revolut.hs
  test/Test/Transcoder/Revolut/Csv.hs
Due: hlint, fourmolu

feat(revolut): parse reversions
  src/Transcoder/Revolut.hs
  test/Test/Transcoder/Revolut.hs
  test/data/revolut0.csv
  test/data/revolut1.csv
Due: hlint, fourmolu

chore: add just build
  Justfile
Due: none

chore: bump version
  DEV.md
  findata-transcoder.cabal
  package.yaml
Due: hpack, markdownlint, prettier

docs: document release
  DEV.md
Due: markdownlint

chore: update deps
  cabal.project
  findata-transcoder.cabal
  package.yaml
  src/Data/Time/Extra.hs
Due: hpack, hlint, fourmolu, prettier

Path conditions:
  hpack: any of: package.yaml
  hlint: any of: *.hs
  fourmolu: any of: *.hs
  markdownlint: any of: *.md
  prettier: any of: *.{yml,yaml}
